.form {
  width:50vw;
  
  background-color: #F7F7F0;
 
}

.Form-form {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
  
 
}
.Form-form h1  {
  margin-top:1.4rem;
  margin-bottom:1.4rem;
  margin-left:3rem;
  font-family: 'Lora';
  
 
  font-size: 33px;
  font-weight: 700;
  line-height: 134.12%;
  letter-spacing: -0.04em;
  color: #333333;
  text-align: left;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 

}
.Form-form input,
label {
 
  width: 48vw;
  height: 70px;
background-color: #FFFFFF;
  position: relative;
  display: block;
  padding-right: 76px;

  box-sizing: border-box;
  margin-bottom: 1rem;
}
.Form-form input{
  padding-left:1rem;
  padding-top:1.5rem;
}
label::after {
  content: attr(data-domain);
  position: absolute;
  top: 14px;
  left: 18px;
  font-family: arial, helvetica, sans-serif;
  font-size: 12px;
  display: block;
  color: rgba(80, 77, 77, 0.6);
  font-weight: bold;
}
.diff::after {
  content: attr(data-domain);
  position: absolute;
  top: 23px;
  left: 20px;
  font-family: arial, helvetica, sans-serif;
  font-size: 16px;
  display: block;
  color: rgba(80, 77, 77, 0.6);
  font-weight: bold;
}
input[type="date"], input[type="time"]{
  position: relative;
  min-height: 30px;
 

  font-size: 30px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 5;
  width: 100%;
  height: 100%;
  background: transparent;
  color: transparent;
  cursor: pointer;

  z-index: 1;
}
input[type="time"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  color: transparent;
  cursor: pointer;

  z-index: 1;
}
.select-type{
  width: 48vw;
  height: 75px;
  padding-left:1rem;
  padding-top:1.5rem;
  font-size:20px;
  margin-top: 2rem;
  border:2px solid black;
  font-family: 'Nunito Sans';

font-weight: 700;
font-size: 16px;



color: #000000;


  
}
select {

  -webkit-appearance:none; /* for chrome */

  -moz-appearance:none; /*for firefox*/

  appearance:none;

}

select::-ms-expand{

  display:none;/*for IE10,11*/

}
select{
  background:url("https://cdn-icons-png.flaticon.com/512/32/32195.png?w=740&t=st=1685741790~exp=1685742390~hmac=afacf4659f1915f70b1887c0f482d0da0ea2785eea1198a7cb29e010d397de9a")
  no-repeat 97%  / 1rem auto;
  transform: translateY(-50%);
  z-index: 0;
 
}
/* input[type="date"]::-webkit-clear-button,
input[type="date"]::-webkit-inner-spin-button {
  display: none;
} */
input[type="time"]::-webkit-clear-button,
input[type="time"]::-webkit-inner-spin-button {
  display: none;
}


.Form-form input {
  border: 2px solid black;
  font-family: 'Nunito Sans', sans-serif;
 
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
}
.diff,.after{
  color:rgba(0,0,0,0)
}
.Form-form input:after {
  position: absolute;
  top: 50%;
  left: 95%;
  content: "";
  width: 20px;
  height: 22px;

  background: #fff
    url("https://cdn-icons-png.flaticon.com/512/32/32195.png?w=740&t=st=1685741790~exp=1685742390~hmac=afacf4659f1915f70b1887c0f482d0da0ea2785eea1198a7cb29e010d397de9a")
    no-repeat 95%  / 1rem auto;
  transform: translateY(-50%);
  z-index: 0;
}

#date-time-edit{
  display:none;
}
/* 버튼 클릭시 input 나옴 */
.all-date-setting-input input[type="date"] {
  position: relative;
  font-size: 0;
  border: none;
 
  width: 2rem;
  height: 2rem;

  margin: 0 auto;
  padding: 0;

  background: url("https://cdn-icons-png.flaticon.com/512/32/32195.png?w=740&t=st=1685741790~exp=1685742390~hmac=afacf4659f1915f70b1887c0f482d0da0ea2785eea1198a7cb29e010d397de9a")
  no-repeat center center / 1.3rem auto;
}

.all-date-setting-input input[type="time"] {
  position: relative;
  font-size: 0;
  border: none;

  width: 2rem;
  height: 2rem;

  margin: 0 auto;
  padding: 0;

  background: url("https://lh3.googleusercontent.com/ogw/ADea4I6bjkdf2t0DAHqD6ZP5ylrs5LMS6FOR0JxyZxHn=s83-c-mo")
  no-repeat 97%  / 1rem auto;
}



.form button {
  font-family: 'Nunito Sans';
  width: 48vw;
  height: 75px;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
  background-color: #ffdc60;
  border:2px solid black;
}

@media (max-width: 782px) {
 
  
    .Form-form h1{
      margin-left:10px;
    }
    .form,.result{
      width:98vw;
      margin-left: 0.5rem;
    }

    
    .Form-form input,.Form-form .diff,label{
      width:90vw;
    margin-left:0.3rem;
  
    }
    .Form-form button{
      width:90vw;
      margin-left:0.6rem;
  
    }
    .select-type{
    width:90vw;
  margin-left:0.3rem;
  }
  
   .Form-form{
    width:80vw;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    text-align: baseline;
    
    }
    .Form-form input:after{
      left:89%;
     
    }
   
    select{
      background:url("https://cdn-icons-png.flaticon.com/512/32/32195.png?w=740&t=st=1685741790~exp=1685742390~hmac=afacf4659f1915f70b1887c0f482d0da0ea2785eea1198a7cb29e010d397de9a")
    no-repeat 92%  / 1rem auto;
    }

   
    input[type="date"]:valid{
      color:black;
    
    }
    
    .after[type="date"]:valid{color:white;}

    input[type="time"]:valid{
      color:black;
    
    }
    
    .after[type="time"]:valid{color:white;}


  }

    
  

  
  
