.login,.register {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}
.mb-3,
.form-floating {
  width: 50%;
  border: 2px solid black;
  background-color: white;
  border-radius: 3px;
}
.loginBtn ,.registerBtn{
  width: 50%;
  height: 70px;
  background-color: #ffdc60;
  border: 2px solid black;
  border-radius: 3px;
  margin-top: 1rem;
}
h1 {
  margin-top: 2rem;
  font-family: 'Lora';
}
.form-floating > .form-control:-webkit-autofill ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label {
  background-color: transparent;
}
