.App {
  display: flex;
 
  flex-direction: column;
  text-align: center;
  width:100vw;
  height:100vh;
  background-color: #F7F7F0;
}
.test{
  padding-bottom:1rem;
}
.App-div {
  display: flex;
  flex-direction: row;
 
  background-color: #F7F7F0;

}
.result {
  display: flex;
  flex-direction: column;
  width:50vw;
  /* height:100vh; */

  justify-content: flex-start;
  align-items: center;
  background-color: #F7F7F0;

  border: 2px solid #333333;
  border-top:none;
  border-bottom:none;
}
.result button {
  width: 100%;
  height: 4.5rem;
  background-color: #ffdc60;
  font-family: 'Nunito Sans';
  font-weight: 700;
}
.result-text {

  width: 100%;
  font-family: 'Nunito Sans';
  border: 2px solid #333333;
  text-align:left;
  background-color: #FFFFFF;
  padding: 1.5rem;
}

.result-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 2.5rem;

  align-items: center;
  width: 90%;

}
.typing {
  height: 100%;
  width: 100%;
  background-color: #F7F7F0;
  text-align: center;
}
.result-text span{
  font-weight: bold;
}



.hide{
  display:none;
}

/* Gpt.js */
.HowTo{
  display:flex;
  justify-content: center;
  
}
.btns{
  display:flex;
  flex-direction: row;

}
.btns button{
  width:20rem;
  
  
}
.remove{
  margin-left:2rem ;
}
.History_h3{
  margin-top:3rem;
}
/* @media (max-width:1700px){
  .Form-form{
    padding-right:1rem;
  }
  .Form-form input,
label,.select-type,.form button{
 
  width: 460px;
 

}

} */
@media (max-width: 782px) {
  .App-div {
    flex-direction: column;
  }
 
.result-text,.result-div button{
  width:90vw;
}

 .result{

border:none;
border-top:1px solid black;
  
 }
 .gpt_history{
  display:flex;
  justify-content: center;
  width:100%;
  margin-top:1rem;
  margin-bottom:1rem;

 }
 .History{
  width:90%;
  margin-top:1rem;
  margin-bottom:1rem;
 }
  .App-div {
    flex-direction: column;
    width:100vw;
    
  
  }
 
 .btns{
  width:90%;
 }


}

