.App {
  display: flex;

  flex-direction: column;
  text-align: center;
  width:100vw;
  background-color: #F7F7F0;
}
.test{
  padding-bottom:1rem;
}
.App-div {
  display: flex;
  flex-direction: row-reverse;

}
.result {
  display: flex;
  flex-direction: column;
  width: 50%;

  justify-content: flex-start;
  align-items: center;
  background-color: #F7F7F0;
/* margin-top:4rem; */
  border: 2px solid #333333;
  border-top:none;
  border-bottom:none;
}
.result button {
  width: 100%;
  height: 4rem;
  background-color: #ffdc60;
  font-family: 'Nunito Sans';
  font-weight: 700;
}
.result-text {
  /* display: flex; */
  width: 100%;
  font-family: 'Nunito Sans';
  border: 2px solid #333333;
  background-color: #FFFFFF;
  padding: 1rem;
}

.result-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 2rem;
  /* margin-bottom:1rem; */
  align-items: center;
  width: 50%;
  /* height: 100vh; */
}
.typing {
  height: 100%;
  width: 100%;
  background-color: #F7F7F0;
  text-align: center;
}
.result-text span{
  font-weight: bold;
}

.hide {
  display: none;
}

/* Form.js */
.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  height: 100vh;
  padding-top: 1rem;



  border-right: none;
}

.Form-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:1rem;
  width: 50vw;
  margin-bottom:2rem;
padding-bottom:1rem;
  /* border: 2px solid #333333; */
  /* border-top:#F7F7F0; */



 
}

/* .Form-form {
  width: 100vw;
  margin-bottom:2rem;
padding-bottom:1rem;
  border: 2px solid #333333;
  border-top:#F7F7F0;

  
 
} */
/* .form_h1{
  display:flex;
  flex-direction:row;
  width: 48vw;
  height: 80px;
  border: 1px solid black;
  align-items: flex-start;
} */
.form h1{
 width:48vw;
 text-align:left;
 font-family: 'Lora', serif;
 font-size: 32px;
 font-weight: 700;
 line-height: 134.12%;
 letter-spacing: -0.04em;
 color: #333333;
}

.Form-form h1  {
  margin-top: 0.5rem;
  margin-bottom: 0;
  padding: 0;
 
  font-size: 32px;
  font-weight: 700;
  line-height: 134.12%;
  letter-spacing: -0.04em;
  color: #333333;
  text-align: left;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
.Form-form input,
label {
 
  width: 48vw;
  height: 80px;
background-color: #FFFFFF;
  position: relative;
  display: block;
  padding-right: 76px;

  box-sizing: border-box;
  margin-bottom: 1rem;
}
.Form-form input{
  padding-left:1rem;
  padding-top:1.5rem;
}

label::after {
  content: attr(data-domain);
  position: absolute;
  top: 14px;
  left: 18px;
  font-family: arial, helvetica, sans-serif;
  font-size: 12px;
  display: block;
  color: rgba(80, 77, 77, 0.6);
  font-weight: bold;
}
.diff::after {
  content: attr(data-domain);
  position: absolute;
  top: 23px;
  left: 20px;
  font-family: arial, helvetica, sans-serif;
  font-size: 16px;
  display: block;
  color: rgba(80, 77, 77, 0.6);
  font-weight: bold;
}


.hide{
  display:none;
}

input[type="date"], input[type="time"]{
  position: relative;
  min-height: 30px;
  /* padding: 10px 12px; */

  font-size: 30px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 5;
  width: 100%;
  height: 100%;
  background: transparent;
  color: transparent;
  cursor: pointer;

  z-index: 1;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  color: transparent;
  cursor: pointer;

  z-index: 1;
}
.select-type{
  width: 48vw;
  height: 75px;
  padding-left:1rem;
  padding-top:1.5rem;
  font-size:20px;
  margin-top: 2rem;
  border:2px solid black;
  font-family: 'Nunito Sans';
/* font-style: normal; */
font-weight: 700;
font-size: 16px;
/* line-height: 150%; */
/* identical to box height, or 24px */


color: #000000;


  
}
select {

  -webkit-appearance:none; /* for chrome */

  -moz-appearance:none; /*for firefox*/

  appearance:none;

}

select::-ms-expand{

  display:none;/*for IE10,11*/

}
select{
  background:url("https://cdn-icons-png.flaticon.com/512/32/32195.png?w=740&t=st=1685741790~exp=1685742390~hmac=afacf4659f1915f70b1887c0f482d0da0ea2785eea1198a7cb29e010d397de9a")
  no-repeat 97%  / 1rem auto;
  transform: translateY(-50%);
  z-index: 0;
 
}
/* input[type="date"]::-webkit-clear-button,
input[type="date"]::-webkit-inner-spin-button {
  display: none;
} */
input[type="time"]::-webkit-clear-button,
input[type="time"]::-webkit-inner-spin-button {
  display: none;
}


.Form-form input {
  border: 2px solid black;
  font-family: 'Nunito Sans', sans-serif;
 
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
}
.diff{
  color:rgba(0,0,0,0)
}
.Form-form input:after {
  position: absolute;
  top: 50%;
  left: 95%;
  content: "";
  width: 20px;
  height: 22px;

  background: #fff
    url("https://cdn-icons-png.flaticon.com/512/32/32195.png?w=740&t=st=1685741790~exp=1685742390~hmac=afacf4659f1915f70b1887c0f482d0da0ea2785eea1198a7cb29e010d397de9a")
    no-repeat 95%  / 1rem auto;
  transform: translateY(-50%);
  z-index: 0;
}

#date-time-edit{
  display:none;
}
/* 버튼 클릭시 input 나옴 */
.all-date-setting-input input[type="date"] {
  position: relative;
  font-size: 0;
  border: none;

  width: 2rem;
  height: 2rem;

  margin: 0 auto;
  padding: 0;

  background: url("https://cdn-icons-png.flaticon.com/512/32/32195.png?w=740&t=st=1685741790~exp=1685742390~hmac=afacf4659f1915f70b1887c0f482d0da0ea2785eea1198a7cb29e010d397de9a")
  no-repeat center center / 1.3rem auto;
}

.all-date-setting-input input[type="time"] {
  position: relative;
  font-size: 0;
  border: none;

  width: 2rem;
  height: 2rem;

  margin: 0 auto;
  padding: 0;

  background: url("https://lh3.googleusercontent.com/ogw/ADea4I6bjkdf2t0DAHqD6ZP5ylrs5LMS6FOR0JxyZxHn=s83-c-mo")
  no-repeat 97%  / 1rem auto;
}



.form button {
  font-family: 'Nunito Sans';
  width: 48vw;
  height: 75px;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
  background-color: #ffdc60;
  border:2px solid black;
}

/* Navb.js */
.navbar-expand{

  border: 2px solid black;
  border-left: none;
  border-right: none;
  border-top: none;
  width:115vw;
}
.container {
  
  /* justify-content: flex-start; */
  padding-top: 1.4rem;
  padding-bottom:1.3rem;
  
}
.navbar>.container {
  justify-content: center;
  margin-right: 100rem;

 

 
}
.container .justify-content-end{
  margin-left:150%;
}

.justify-content-end{
  margin-left:100%;

  
}
/* Gpt.js */
.HowTo{
  display:flex;
  justify-content: center;
  
}
.btns{
  display:flex;
  flex-direction: row;

}
.btns button{
  width:20rem;
  
  
}
.remove{
  margin-left:2rem ;
}
.History_h3{
  margin-top:3rem;
}
@media (max-width:1700px){
  .Form-form{
    padding-right:1rem;
  }
  .Form-form input,
label,.select-type,.form button{
 
  width: 460px;
 

}

}
@media (max-width: 782px) {
  .result-div {
    width: 100vw;
    margin-bottom: 2rem;
    height: 90vh;
  }
  
  .form {
    width: 100vw;
    height:110vh; 
  }
  .App{
    width:100vw;
  }
  .navbar-expand{
    width:100vw;
  }
  .result{
   width:100%;
  }
  .Form-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    padding-top: 1rem;
    /* padding-bottom: 1rem; */
    /* border: 2px solid #333333; */
    border-top: none;
    width: 80%;
  }
  
  .container .justify-content-end{
    margin-left:10%;
  }
  .justify-content-end{
    margin-left:10%;
  }
 
  
 
  .App-div {
    flex-direction: column-reverse;
   
    
  }
 
  
 
  
  
  .Form-form input:after {
    left:90%
  }
  .select-type,
  .Form-form input,
  label,
  .result-text,
  .result button,
  .form button {
    width: 20rem;
   
    
  }
 
  .result-text {
    height: 100vh;
    padding: 1rem;
  }
 
  .form button {
    
    color:black;
    margin-bottom:1rem;
   
  
    
  }
  
  
  .form h1{
    color:black;
    margin-right: 4rem;
    font-size: 25px;
    line-height: 120%;
    white-space: nowrap;
    /* overflow: hidden; */
    text-overflow: ellipsis;
    text-align: center;
  }
.btns button{
  width:9.1rem;
  margin-right:1rem;
  
}
}